*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
     background-image: url("background.jpg");
    background-size: cover;
    background-position: 0 20%;
}

nav{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
