center {
  left: 60%;
}

.ul1 {
  display: inline-block;
  padding-top: 25px;
  list-style: none;
  margin: 10px 50px 10px 10px;
}
.ul1 a {
  color: #525564;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 600;
}

ul li a:hover {
  color: whitesmoke;
  border-bottom: 1px solid darkgrey;
}

ul {
  background-color: #c0c0c0;
  height: 100px;
  left: 50%;
  margin: -10px -30px 0 -30px;
}

.box {
  display: flex;
  align-items: center;
  margin: 20px 200px 20px 200px;
  padding: 20px 20px 20px 30px;
  box-shadow: 1px 1px 10px 2px lightgrey;
}

body {
  background-color: whitesmoke;
}

.box1 {
  background-color: #000090;
  border-radius: 4px;
}

.box2 {
  background-color: #c0c0c0;
  border-radius: 4px;
}

.box3 {
  background-color: #000090;
  border-radius: 4px;
}
.left {
  width: 30%;
}
.right {
  text-align: left;
  width: 60%;
  left: 40%;
}
.right p {
  text-align: left;
  line-height: 30px;
  font-size: 1.2rem;
  letter-spacing: 0.4px;
  word-spacing: 1.5px;
  color: lightblue;
}
.box img {
  margin: auto;
}

.right1 {
  width: 75%;
}

.right1 p {
  text-align: left;
  line-height: 30px;
  font-size: 1.2rem;
  font-family: Times New Roman;
}
.right1 ul li {
  text-align: left;
  line-height: 30px;
  font-size: 1.2rem;
}
h1 {
  font-family: sans;
  color: aliceblue;
}

footer {
  margin: auto;
}
